---
layout: content
title: showcase
permalink: /showcase/
---

{% for category in site.data.products %}
<div class='showcase{% if category.products.size > 0  %}{{category.products.size}}{% else %} disabled {% endif %}'>
    <div class='showcase__category'>
        <h2 class='showcase__category-name'>{{category.category}}</h2>
        <p
            class='showcase__category-item{% if category.products.size > 0  %}{{category.products.size}}{% else %}--soon{% endif %}'>
            {% if category.products.size > 0  %}
            {{category.products.size}} items
            {% else %}
            coming soon
            {% endif %}</p>
    </div>

    <div class='showcase__expandable' data-closed='true'>
        <ul class='showcase__expandable-wrapper'>
            {% for product in category.products %}
            <li class="showcase__img-card">
                <div class="showcase__poster-wrapper">
                    <div class='showcase__poster-cen'>
                        <img src='{{product.img}}' alt='poster' class="showcase__poster" />
                    </div>
                    <div class='showcase__poster-cen'>
                        <img src='{{product.imgOverlay}}' alt='poster' class="showcase__poster-overlay" />
                    </div>
                </div>
                <p class="showcase__poster-name">{{product.name}}</p>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endfor %}